<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script src="https://kit.fontawesome.com/d69b770361.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
						<li><a href="/cv">CV</a></li>
        		<li><a href="/research">Research</a></li>
						<li><a href="/teaching">Teaching</a></li>
						<li><a href="/outreach">Outreach</a></li>
						<li><a href="/openaccess">Open Access</a></li>
        		<li><a href="/about">About</a></li>
    		</ul>
		</nav>

	<div class="container">
    		{{ content }}
	</div><!-- /.container -->
<footer>

</footer>
</body>
</html>
