<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script src="https://kit.fontawesome.com/d69b770361.js" crossorigin="anonymous"></script>	
	</head>
	<body>
		<nav>
    		<ul>
        		<li class="selected"><a href="/">HOME</a></li>
        		<li class="selected"><a href="/research">RESEARCH</a></li>
	        	<li class="selected"><a href="/outreach">OUTREACH</a></li>
        		<li class="selected"><a href="/teaching">TEACHING</a></li>
        		<li class="selected"><a href="/cv">CV</a></li>
        		<li class="selected"><a href="/about">ABOUT ME</a></li>
    		</ul>
		</nav>
		
	<div class="container">
    		{{ content }}
	</div><!-- /.container -->
<footer>

</footer>
</body>
</html>
